.authenticated-home {
  display: flex;
  justify-content: center;
  width: 40vw;
  margin: 5vh auto 0;
  flex-direction: column;
}

.main-content {
  display: flex;
  justify-content: center;
  padding-top: 3vh;
}
